<html>
    <head>
        <title>ConvertMoney$</title>
        <link href="/styles.css" rel="stylesheet" />
    </head>
    <body>
        <h1><a href="/"><img src="/logo.png" alt="Convert Money"></a></h1>

