<%-include('header')%>
<form method="GET" action="/quote">
    <input placeholder="Dolar today" name="quote" value="<%= cotacao %>"><br />
    <input placeholder="Amount" name="amount"><br />
    <button>Convert</button>
</form>
<%-include('footer')%>